{% extends 'base.html' %}
{% load static %}

{% block title %}
Exchangers list
{% endblock title %}

{% block content %}

<div class="exchanger">
	<div>
		<img class="source__img" src="/media/logos/privat.png" alt="" width="360" height="130">
		<div class="d33">
		  <div class="d33__content">
			<form action="{% url 'currency:comment-creation' pk=1 %}" method="post" class="d33__form" >
			  {% csrf_token %}
				<div class="d33__input">
					{{ form }}
				</div>
				{% if request.user.is_authenticated %}
				<div>
					<button class="d33__button" type="submit">Send</button>
				</div>
				{% else %}
				<span>Log in to leave a comment</span>
				{% endif %}
			</form>
		  </div>
		</div>
	  <div>
	    {% for rate in rates_privat %}
	    <p>{{ rate.get_currency_display }}: {{ rate.buy }}  {{ rate.sale }}</p>
	    {% endfor %}
	  </div>
	</div>
	<div>
	  <img class="source__img" src="/media/logos/mono.png" alt="">
		<div class="d33">
		  <div class="d33__content">
			<form action="{% url 'currency:comment-creation' pk=2 %}" method="post" class="d33__form" >
			  {% csrf_token %}
				<div class="d33__input">
					{{ form }}
				</div>
				{% if request.user.is_authenticated %}
				<div>
					<button class="d33__button" type="submit">Send</button>
				</div>
				{% else %}
				<span>Log in to leave a comment</span>
				{% endif %}
			</form>
		  </div>
		</div>
	  <div>
	    {% for rate in rates_mono %}
	    <p>{{ rate.get_currency_display }}: {{ rate.buy }}  {{ rate.sale }}</p>
	    {% endfor %}
	  </div>
	</div>
	<div>
		<img class="source__img" src="/media/logos/vkurse.png" alt="">
		<div class="d33">
		  <div class="d33__content">
			<form action="{% url 'currency:comment-creation' pk=3 %}" method="post" class="d33__form" >
			  {% csrf_token %}
				<div class="d33__input">
					{{ form }}
				</div>
				{% if request.user.is_authenticated %}
				<div>
					<button class="d33__button" type="submit">Send</button>
				</div>
				{% else %}
				<span>Log in to leave a comment</span>
				{% endif %}
			</form>
		  </div>
		</div>
	  <div>
	  	{% for rate in rates_vkurse %}
	    <p>{{ rate.get_currency_display }}: {{ rate.buy }}  {{ rate.sale }}</p>
	    {% endfor %}
	  </div>
	</div>
	<div>
		<img class="source__img" src="/media/logos/otp.png" alt="">
		<div class="d33">
		  <div class="d33__content">
			<form action="{% url 'currency:comment-creation' pk=4 %}" method="post" class="d33__form" >
			  {% csrf_token %}
				<div class="d33__input">
					{{ form }}
				</div>
				{% if request.user.is_authenticated %}
				<div>
					<button class="d33__button" type="submit">Send</button>
				</div>
				{% else %}
				<span>Log in to leave a comment</span>
				{% endif %}
			</form>
		  </div>
		</div>
	  <div>
	    {% for rate in rates_otp %}
	    <p>{{ rate.get_currency_display }}: {{ rate.buy }}  {{ rate.sale }}</p>
	    {% endfor %}
	  </div>
	</div>
	<div>
		<img class="source__img" src="/media/logos/pumb.png" alt="">
		<div class="d33">
		  <div class="d33__content">
			<form action="{% url 'currency:comment-creation' pk=5 %}" method="post" class="d33__form" >
			  {% csrf_token %}
				<div class="d33__input">
					{{ form }}
				</div>
				{% if request.user.is_authenticated %}
				<div>
					<button class="d33__button" type="submit">Send</button>
				</div>
				{% else %}
				<span>Log in to leave a comment</span>
				{% endif %}
			</form>
		  </div>
		</div>
	  <div>
	    {% for rate in rates_pumb %}
	    <p>{{ rate.get_currency_display }}: {{ rate.buy }}  {{ rate.sale }}</p>
	    {% endfor %}
	  </div>
	</div>
	<div>
		<img class="source__img" src="/media/logos/oshchad.png" alt="">
		<div class="d33">
		  <div class="d33__content">
			<form action="{% url 'currency:comment-creation' pk=6 %}" method="post" class="d33__form" >
			  {% csrf_token %}
				<div class="d33__input">
					{{ form }}
				</div>
				{% if request.user.is_authenticated %}
				<div>
					<button class="d33__button" type="submit">Send</button>
				</div>
				{% else %}
				<span>Log in to leave a comment</span>
				{% endif %}
			</form>
		  </div>
		</div>
		<div>
	  	{% for rate in rates_oshchad %}
	    <p>{{ rate.get_currency_display }}: {{ rate.buy }}  {{ rate.sale }}</p>
	    <!-- <hr style="border-color: #fff;"> -->
	    {% endfor %}
		</div>
	</div>
</div>

{% endblock content %}
