{% extends 'base.html' %}

{% block title %}
Index
{% endblock title %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">Currency
            <span class="text-primary">Exchange</span>
        </h1>
        <div class="subheading mb-5">+38(098)59-052-95 ·
            <a href="mailto:zencrazycat@email.com">zencrazycat@gmail.com</a>
        </div>
        <p class="lead mb-5">This website is about currency rates. It collects
            rates from different sources, such as banks, currency exchange offices, black markets, etc</p>
        <div class="social-icons">
            <a href="https://github.com/Zencrazycat" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/zen_crazy_cat/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/alexander.mediantsev" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</section>

{% endblock content %}
