{% extends 'base.html' %}

{% block title %}
Last rates
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<form method="get">
  <div class="col-6 p-0 col-sm-6 col-md-5 col-lg-4">
    {{ filter.form.sale|as_crispy_field }}
  </div>
  <div class="col-6 p-0 col-sm-6 col-md-5 col-lg-4">
    {{ filter.form.buy|as_crispy_field }}
  </div>
  <div class="col-6 p-0 col-sm-6 col-md-5 col-lg-4">
    {{ filter.form.source|as_crispy_field }}
  </div>
  <div class="col-6 p-0 col-sm-6 col-md-5 col-lg-4">
    {{ filter.form.created_date|as_crispy_field }}
  </div>
<button type="submit" class="btn btn-dark col-sm-6 col-md-5 col-lg-4 mt-5 d-block">Search</button>
  <span class="glyphicon glyphicon-search"></span>
</form>

<h3 class="text-center">Latest Rates</h3>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Bank</th>
      <th scope="col">Currency</th>
      <th scope="col">Buy</th>
      <th scope="col">Sale</th>
      <th scope="col">Time(UTC+0)</th>
    </tr>
  </thead>
  <tbody>
    {% for rate in object_list %}
    <tr>
      <td>{{ rate.get_source_display }}</td>
      <td>{{ rate.get_currency_display }}</td>
      <td>{{ rate.buy }}</td>
      <td>{{ rate.sale }}</td>
      <td>{{ rate.created|date:'Y-m-d' }} &nbsp &nbsp &nbsp {{ rate.created|date:'H:i' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/pagination.html' %}

{% endblock content %}
