{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ request.user }}
{% endblock title %}

{% block content %}
{% if request.user.id == user.id %}

{% load crispy_forms_tags %}

<form method = "post" enctype="multipart/form-data">

  <h2 class="text-center">Your profile</h2>
  <div>
    <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
      {{ form.phone|as_crispy_field }}
    </div>
    <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
      {{ form.avatar|as_crispy_field }}
    </div>
  </div>
  {%csrf_token%}
  <button type="submit"  class="btn btn-dark col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">Edit</button>
</form>

{% else %}
<h4>Sorry, it's not your profile, you can't edit it</h4>
{% endif %}
{% endblock content %}
