{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="wrapper">
  <h2 class="col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">Sign up</h2>
	  <div class="col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">
		  <a class="nav-link" href="{% url 'account:signup' %}">Sign up with email-confiramtion</a>
	  </div>
    <div class="col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">
    	<a class="nav-link" href="{% url 'account:signup-sms' %}">Sign up with phone-confiramtion</a>
    </div>
</div>
{% endblock %}
