{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
  <h2 class="col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">Sign up</h2>
  <a class="nav-link" href="{% url 'account:signup' %}">
	<button type="submit"  class="btn btn-dark col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">
		Sign up with email-confiramtion
	</button>
  </a>
  <a class="nav-link" href="{% url 'account:signup-sms' %}">
    <button type="submit" class="btn btn-dark col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">
    	Sign up with phone-confiramtion
    </button>
  </a>
{% endblock %}
