{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<form method = "post">
    <h2 class="text-center">Sign Up</h2>
    <div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.password|as_crispy_field }}
        </div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.password2|as_crispy_field }}
        </div>
        <div class="col-6 p-0 mx-auto col-sm-6 col-md-5 col-lg-4">
            {{ form.phone|as_crispy_field }}
        </div>
    </div>
    {%csrf_token%}

    <div class="g-recaptcha col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block"
    data-sitekey="{{ GOOGLE_RECAPTCHA_SITE_KEY }}"></div>

    <button type="submit" class="btn btn-dark col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">Sign Up</button>
</form>


<!-- Script for captcha -->
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{GOOGLE_RECAPTCHA_SITE_KEY}', {action: 'signup'})
        .then(function(token) {
            document.getElementById("form").appendChild(document.CreateElement(`<input type="hidden" name="g-recaptcha-response" value=${token}`);
        });
    });
</script>

{% endblock content%}

